.history {
  padding: 40px;
  position: relative;
  h1,
  p {
    margin: 0;
  }

  .menu {
    width: fit-content;
    position: absolute;

    ul {
      list-style: none;
      padding: 0;
      background-color: #fff;

      li {
        border: 1px solid #000;
        padding: 10px 20px;
        cursor: pointer;
      }
    }
  }
  .container {
    width: 60%;
    margin: 0 auto;
    h1 {
      padding-bottom: 20px;
    }

    .record {
      background-color: #fff;
      padding: 10px;
      margin: 15px 0;

      p {
        margin-bottom: 10px;
      }
      .category {
        font-weight: bold;
        font-size: 18px;
      }
    }

    .btn-container {
      button {
        border: none;
        background-color: #fff;
        color: #4bb5cd;
        cursor: pointer;
        padding: 10px 20px;
        font-weight: bold;
        font-size: 16px;

        &:hover {
          box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
            rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        }
      }
    }
  }
}
